{% load static %}
<header class="navbar-wrapper">
  <nav class="navbar">
    <div class="navbar__content">
      <img class="navbar__logo"
           src="{% static 'global/img/logos/apollo-logo.svg' %}"
           alt="Logo Restaurante do Apollo" />
      <button class="menu-toggle" type="button">
        <span class="menu-toggle__icon">
          <span class="menu-toggle__bar"></span>
          <span class="menu-toggle__bar"></span>
          <span class="menu-toggle__bar"></span>
        </span>
      </button>
      <div id="primary-nav" class="navbar__menu">
        <ul class="navbar__list">
          <li>
            <a href="{% url "website:home" %}">Início</a>
          </li>
          <li>
            <a href="{% url "blog:home" %}">Blog</a>
          </li>
          <li>
            <a href="{% url "website:about_us" %}">Sobre nós</a>
          </li>
        </ul>
        <a class="button button--nav" href="#">Fazer reserva</a>
      </div>
    </div>
  </nav>
</header>
