{% load static %}
<header class="navbar-wrapper">
  <nav class="navbar">
    <div class="navbar__content">
      <a href="{% url "website:home" %}">
        <img class="navbar__logo"
             src="{% static 'global/img/logos/apollo-logo.svg' %}"
             alt="Logo Restaurante do Apollo" />
      </a>
      <button class="menu-toggle" type="button">
        <span class="menu-toggle__icon">
          <span class="menu-toggle__bar"></span>
          <span class="menu-toggle__bar"></span>
          <span class="menu-toggle__bar"></span>
        </span>
      </button>
      <div id="primary-nav" class="navbar__menu">
        <ul class="navbar__list">
          <li>
            <a class="{% if request.resolver_match.url_name == 'home' and request.resolver_match.namespace == 'website' %}is-active{% endif %}"
               href="{% url "website:home" %}">Início</a>
          </li>
          <li>
            <a class="{% if request.resolver_match.namespace == 'blog' %}is-active{% endif %}"
               href="{% url "blog:home" %}">Blog</a>
          </li>
          <li>
            <a class="{% if request.resolver_match.url_name == 'about_us' and request.resolver_match.namespace == 'website' %}is-active{% endif %}"
               href="{% url "website:about_us" %}">Sobre nós</a>
          </li>
        </ul>
        <button class="button button--nav" type="button" data-reservation-open>Fazer reserva</button>
      </div>
    </div>
  </nav>
</header>
