{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurante do Apollo</title>
    <link rel="stylesheet" href="{% static "global/styles/base.css" %}">
    <link rel="stylesheet" href="{% static "global/styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "global/styles/footer.css" %}">
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    {% include "global/partials/_navbar.html" %}
    <div>
      {% block content %}
      {% endblock content %}
    </div>
    {% include "global/partials/_footer.html" %}
  </body>
</html>
